.social {
  margin: 0 auto;
  margin-top: 200px;
  color: rgb(255, 255, 255);

  margin-bottom: 20px;
}

.socialIcon {
  font-size: 2rem;
}

.cardbox33 {
  margin-top: 500px;
  width: 100%;
  grid: 15px;
  background-color: blueviolet;
}
