.social {
  /* margin: 0 auto; */
  margin-top: 200px;
  color: rgb(255, 255, 255);

  margin-top: 100px;
}

.socialIcon {
  font-size: 2rem;
  grid: 15px;
}

.cardbox33 {
  margin-top: 500px;
  width: 100%;
  grid: 15px;
  background-color: blueviolet;
  padding: 100px;
}
.p1 {
  color: white;
  max-width: 700px;
  font-family: cursive;
  margin-top: 15px;
}
