.social {
  margin: 0 auto;
  margin-top: 400px;
  color: rgb(255, 255, 255);
  margin-left: 700px;
}

body {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 70%, #2f80ed 30%);
}
.socialIcon {
  font-size: 2rem;
}

.p1 {
  max-width: 700px;
  margin-right: 200px;
  /* margin-top: 300px; */
  color: white;
  margin-bottom: 15px;
}
