.social {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 300px;
  color: aliceblue;
}

body {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 90%, #8d21e6 7%);
}
.socialIcon {
  font-size: 2rem;
}
