.Navbar {
  background-image: linear-gradient(
    to right,
    rgb(0, 84, 209),
    rgb(49, 123, 207),
    rgb(0, 167, 209),
    #3a8fd9,
    /* #7d38f5, */ #686dc3,
    /* #39cbfb, */ #cf29a0,
    #fe2ec4
  );
  /* to right,
      rgb(0, 204, 255),
      #00c5d7,
      #01abe4,
      rgb(0, 136, 255),
      #39cbfb
    ); */
  padding: 16px;
}
/*.brandimg {
    width: 120px;
  }*/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section {
  /* display: flex; */
  background: #000;
  /* min-height: 3vh; */
  /* align-items: center;
  justify-content: center; */
}

.content {
  /* position: relative; */
}

.content h2 {
  color: #fff;
  /* font-size: 30px; */

  position: absolute;
  font: Gill Sans (sans-serif);

  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  /* display: flex; */
}

.content h2:nth-child(2) {
  color: #f4f4f4;
  animation: animate 4s ease-in-out infinite;
}

/* @keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 25%,
      16% 40%,
      20% 40%,
      30% 40%,
      40% 51%,
      84% 59%,
      100% 32%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      77% 45%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  } */
