.testsd {
  margin-bottom: 30px;
  /* width: 500px; */
  margin: 0 auto;
  justify-content: center;
}

.imageslider {
  width: 350px;
  height: auto;
  /* margin-left: 480px; */

  justify-content: center;
}
